# Application configuration
APP_PORT=3000
APP_JWT=someSecret22
APP_ACCESS_TOKEN_EXPIRES_IN=1h
APP_REFRESH_TOKEN_EXPIRES_IN=1d

# NODE_ENV variable
NODE_ENV=development

# Postgres Credentials & Configuration
DB_TYPE=postgres
PG_DATABASE=course-management-dev
PG_HOST=postgres
PG_PASSWORD=root
PG_PORT=5432
PG_USER=postgres